/Implementacion/Estudio Juridico/nbproject/private/
Documentacion/~$cumentacion.docx
Implementacion/Estudio Juridico/build/classes/.netbeans_automatic_build
Implementacion/Estudio Juridico/build/classes/.netbeans_update_resources
Implementacion/Estudio Juridico/build/classes/pack/Main.class
Implementacion/Estudio Juridico/build/classes/utils/Conexion.class
Implementacion/Estudio Juridico/build/classes/utils/ManagerArchivo.class
Implementacion/Estudio Juridico/build/classes/utils/SQL.class
Implementacion/Estudio Juridico/estudio_juridico.log
Implementacion/Estudio Juridico/build/classes/gui/Login.class
Implementacion/Estudio Juridico/build/classes/gui/Login.form
Implementacion/Estudio Juridico/build/classes/gui/Login$1.class
Implementacion/Estudio Juridico/build/classes/gui/Login$2.class
Implementacion/Estudio Juridico/build/classes/gui/Login$3.class
/Implementacion/Estudio Juridico/dist/
Documentacion/Dia/Diagrama Entidad Relacion.dia~
Documentacion/Dia/ER-Login-Persona-Titulo-Telf.dia~
Documentacion/Diagrama Entidad Relacion.dia~
Documentacion/Dia/Entidad Relacion.dia~
