/Implementacion/Estudio Juridico/nbproject/private/
Documentacion/~$cumentacion.docx
/Implementacion/Estudio Juridico/build/
Implementacion/Estudio Juridico/estudio_juridico.log
Implementacion/Estudio Juridico/estudio_juridico.conf
